<div class="card-panel col l6 m6 s12">
    <div class="title z-depth-1 white-text">
        <h4>Instituto</h4><a class="waves-effect waves-light btn blue right title-btn" (click)="openModal(f)">Novo</a>
    </div>
    <table class="bordered highlight">
        <thead>
            <tr>
                <th nowrap>Nome</th>
                <th nowrap>Logotipo</th>
                <th nowrap class="center-align">Apagar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inst of instituto | async">
                <td>{{ inst.name }}</td>
                <td><img [src]="inst.url" [alt]="inst.name" height="30"></td>
                <td class="center-align"><button class="btn-floating btn-small waves-effect waves-light red" (click)="apagar(inst.$key)"><i class="material-icons small">delete</i></button></td>
            </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
        <div class="modal-content">
            <h4>Novo Instituto</h4>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="col s12">
                    <div class="input-field col s12 l12">
                        <input type="text" placeholder="Instituto" id="nome" class="validate" name="nome" ngModel>
                        <label for="nome">Nome</label>
                    </div>
                    <div class="file-field input-field col s12 l12">
                        <div class="btn">
                            <span>Logotipo</span>
                            <input type="file" value="upload" name="logotipo" (change)="detectFiles($event)">
                        </div>
                        <div class="file-path-wrapper col s9 l9">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn blue" (click)="closeModal(f)">Fechar</a>
            <a class="modal-action modal-close waves-effect waves-green btn blue" (click)="onSubmit(f)">Cadastrar</a>
        </div>
    </div>
</div>