<div class="deep-orange darken-1 text-darken-2">
    <div class="row login-form">
        <div class="col s12 z-depth-4 card-panel">
            <form #f="ngForm" (ngSubmit)="login(f)">
                <div class="row">
                    <div class="input-field col s12 center">
                        <img src="assets/imagens/navbar-brand.png" alt="" class="responsive-img valign profile-image-login">
                        <p class="center login-form-text">IESI - Controle Patrimonial</p>
                        <div class="card-panel deep-orange darken-1 white-text" *ngIf="erro" >{{ 'LOGIN.INVALID' | translate }}</div>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" name="email" class="validate" required email ngModel>
                        <label for="email" class="center-align">E-Mail</label>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>
                        <input id="senha" type="password" name="senha" class="validate" required ngModel>
                        <label for="senha">Senha</label>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="input-field col s12 m12 l12  login-text">
                        <input type="checkbox" id="remember-me" />
                        <label for="remember-me">Lembrar</label>
                    </div>
                </div> -->
                <div class="row">
                    <div class="input-field col s12">
                        <a (click)="login(f)" class="btn blue darken-4 waves-effect waves-light col s12">Entrar</a>
                    </div>
                </div>
                <div class="row">
                    <p class="margin center-align medium-small"><a href="#">Esqueceu a senha?</a></p>
                </div>

            </form>
        </div>
    </div>
</div>