<div class="card-panel">
    <div class="title z-depth-1 white-text">
        <h4>Usuários</h4><a class="waves-effect waves-light btn blue right title-btn" (click)="openModal(f)">Novo</a>
    </div>
    <table class="bordered highlight">
        <thead>
            <tr>
                <th nowrap>Nome Completo</th>
                <th nowrap>E-Mail</th>
                <th nowrap>Setor</th>
                <th nowrap class="center-align">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of user">
                <td class="pointer tooltipped" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Clique para Editar" (click)="openModal(f,usuario)">{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.setor }}</td>
                <td *ngIf="usuario.ativo == true" class="center-align"><a materialize="tooltip" class="btn-floating btn-small waves-effect waves-light green tooltipped" data-position="bottom" data-delay="50" data-tooltip="Desativar Usuário" (click)="Ativar(usuario.$key)"><i class="material-icons">check_circle</i></a></td>
                <td *ngIf="usuario.ativo == false" class="center-align"><a materialize="tooltip" class="btn-floating btn-small waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ativar" (click)="Desativar(usuario.$key)"><i class="material-icons">block</i></a></td>
            </tr>
        </tbody>
    </table>

    <!-- Modal lUsuario -->
    <div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
        <div class="modal-content">
            <h4>Novo Usuário</h4>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="col s12">
                    <input type="hidden" name="key" [ngModel]="editarUsuario.key">
                    <div class="input-field col s12 l6">
                        <select materialize="material_select" [materializeSelectOptions]="tiposUsuarios" id="tipo" class="validate" name="tipo" [ngModel]="editarUsuario.tipo | uppercase" required>
                            <option value="" disabled selected>Escolha uma opção</option> 
                            <option *ngFor="let tipo of tiposUsuarios" [value]="tipo.tipo | uppercase">{{tipo.tipo | uppercase}}</option>
                    </select>
                    </div>
                    <div class="input-field col s12 l6">
                        <input type="text" placeholder="Nome Completo" id="nome" class="validate" name="nome" [ngModel]="editarUsuario.nome | uppercase" required>
                        <label for="nome">Nome Completo</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="email" type="email" placeholder="E-Mail" class="validate" name="email" [ngModel]="editarUsuario.email" required email>
                        <label for="email">E-Mail</label>
                    </div>
                    <div *ngIf="f.value.key == '' || f.value.key == null" class="input-field col s6 l6 m6">
                        <input id="senha" minlength="6" type="password" class="validate" [style.border-bottom]="validate.borderBottom" [style.box-shadow]="validate.boxShadow" name="senha" [ngModel]="editarUsuario.senha" (change)="validaSenha(f)" required>
                        <label for="senha">Senha</label>
                    </div>
                    <div *ngIf="f.value.key == '' || f.value.key == null" class="input-field col s6 l6 m6">
                        <input id="confirmarSenha" minlength="6" type="password" class="validate" [style.border-bottom]="validate.borderBottom" [style.box-shadow]="validate.boxShadow" name="confirmarSenha" [ngModel]="editarUsuario.confirmarSenha" (change)="validaSenha(f)" required>
                        <label for="confirmarSenha">Confirmar Senha</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <select materialize="material_select" [materializeSelectOptions]="setores" id="setor" class="validate" name="setor" [ngModel]="editarUsuario.setor" required>
                            <option value="" disabled selected>Escolha uma opção</option>
                            <option *ngFor="let setor of setores" [value]="setor.nome | uppercase">{{setor.nome | uppercase}}</option> 
                    </select>
                        <label for="tipo">Setor</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-orange btn blue" (click)="closeModal(f)">Fechar</a>
            <a class="modal-action modal-close waves-effect waves-orange btn blue" [ngClass]="{'disabled': f.invalid || f.value.senha != f.value.confirmarSenha}" (click)="onSubmit(f)">Salvar</a>
        </div>
    </div>
</div>