nav {
    background: #f98a05;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f98a05 0%, #fa9d26 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f98a05 0%, #fa9d26 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f98a05 0%, #fa9d26 100%);
    .brand-logo {
        background-image: url('../assets/imagens/navbar-brand.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        background-size: 100%;
        height: 100%;
    }
    @media (min-width: 291px) and (max-width: 600px) {
        .brand-logo {
            width: 150px;
        }
    }
    @media (max-width: 290px) {
        .brand-logo {
            background-image: url('../assets/imagens/login-logo.png');
            width: 100px;
        }
    }
}

.btn-menu {
    cursor: pointer;
    position: absolute;
    left: 0px;
}

.menu-out {
    transform: translateX(-300px);
}

.btn-menu-out {
    transform: translateX(0px);
}

.menu-in {
    transform: translateX(0px);
}

.btn-menu-in {
    transform: translateX(300px);
}