<header *ngIf="logado">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <a routerLink="" class="brand-logo"></a>

                    <ul id="slide-out" class="side-nav {{estadoMenu}}">
                        <li routerLinkActive="active"><a (click)="toggle()" routerLink="controle-patrimonial">Controle Patrimonial</a></li>
                        <li routerLinkActive="active" *ngIf="usuario?.tipo != 'CONSULTOR'"><a (click)="toggle()" routerLink="usuarios">Usuários</a></li>
                        <li routerLinkActive="active" *ngIf="usuario?.tipo != 'CONSULTOR'"><a (click)="toggle()" routerLink="config">Configurações</a></li>
                        <li><a class="waves-effect" (click)="logout();toggle();">Sair</a></li>
                    </ul>
                    <a class="button-collapse btn-menu {{estadoBotaoMenu}}"><i class="material-icons" (click)="toggle()">menu</i></a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li routerLinkActive="active"><a routerLink="controle-patrimonial">Controle Patrimonial</a></li>
                        <li routerLinkActive="active" *ngIf="usuario?.tipo != 'CONSULTOR'"><a routerLink="usuarios">Usuários</a></li>
                        <li routerLinkActive="active" *ngIf="usuario?.tipo != 'CONSULTOR'"><a routerLink="config">Configurações</a></li>
                        <li><a (click)="logout()">Sair</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer class="page-footer cyan" *ngIf="logado">
    <div class="footer-copyright">
        <div class="container">
            © 2017 IESI - Controle Patrimonial v1.0.0
            <a class="grey-text text-lighten-4 right" href="http://www.iesi.edu.br">Mais Links</a>
        </div>
    </div>
</footer>