<div class="card-panel">
    <div class="title z-depth-1 white-text">
        <h4>Usuários</h4><a class="waves-effect waves-light btn blue right title-btn" (click)="openModal(f)">Novo</a>
    </div>
    <table class="bordered highlight">
        <thead>
            <tr>
                <th nowrap>Nome Completo</th>
                <th nowrap>E-Mail</th>
                <th nowrap>Setor</th>
                <th nowrap class="center-align">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios | async">
                <td class="pointer tooltipped" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Clique para Editar" (click)="openModal()">{{ usuario.nome }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.setor }}</td>
                <td *ngIf="usuario.ativo == 's'" class="center-align"><a materialize="tooltip" class="btn-floating btn-small waves-effect waves-light green tooltipped" data-position="bottom" data-delay="50" data-tooltip="Desativar Usuário" (click)="Ativar()"><i class="material-icons">check_circle</i></a></td>
                <td *ngIf="usuario.ativo == 'n'" class="center-align"><a materialize="tooltip" class="btn-floating btn-small waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ativar" (click)="Desativar()"><i class="material-icons">block</i></a></td>
            </tr>
        </tbody>
    </table>

    <!-- Modal lUsuario -->
    <div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
        <div class="modal-content">
            <h4>Novo Usuário</h4>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="col s12">
                    <input type="hidden" name="key" [(ngModel)]="editarUsuario.$key">
                    <div class="input-field col s12 l6">
                        <select materialize="material_select" [materializeSelectOptions]="tiposUsuarios | async" id="tipo" class="validate" name="tipo" [ngModel]="editarUsuario.tipo | uppercase">
                             <option value="" disabled selected>Escolha uma opção</option> 
                            <option *ngFor="let tipo of tiposUsuarios | async" [value]="tipo.tipo | uppercase">{{tipo.tipo | uppercase}}</option>
                    </select>
                    </div>
                    <div class="input-field col s12 l6">
                        <input type="text" placeholder="Nome Completo" id="nome" class="validate" name="nome" [ngModel]="editarUsuario.nome | uppercase">
                        <label for="nome">Nome Completo</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="email" type="email" placeholder="E-Mail" class="validate" name="email" [ngModel]="editarUsuario.email">
                        <label for="email">E-Mail</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <select materialize="material_select" [materializeSelectOptions]="setores | async" id="setor" class="validate" name="setor" [ngModel]="editarUsuario.setor">
                            <option value="" disabled selected>Escolha uma opção</option>
                            <option *ngFor="let setor of setores | async" [value]="setor.nome | uppercase">{{setor.nome | uppercase}}</option> 
                    </select>
                        <label for="tipo">Setor</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-orange btn blue" (click)="closeModal()">Fechar</a>
            <a class="modal-action waves-effect waves-orange btn blue" (click)="onSubmit(f)">Cadastrar</a>
        </div>
    </div>
</div>