<div class="card-panel">
    <div class="title z-depth-1 white-text">
        <h4>Usuários</h4><a class="waves-effect waves-light btn blue right title-btn" (click)="openModalUsuario(fUsuario)">Novo</a>
    </div>
    <table class="bordered highlight">
        <thead>
            <tr>
                <th nowrap>Nome Completo</th>
                <th nowrap>E-Mail</th>
                <th nowrap>Setor</th>
                <th nowrap class="center-align">Ativo</th>
                <th nowrap class="center-align">Apagar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="pointer tooltipped" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Clique para Editar" (click)="openModalUsuario()">Nome competo do fulano</td>
                <td>fulano@fu.com</td>
                <td>informatica</td>
                <td class="center-align"><a materialize="tooltip" class="btn-floating btn-small waves-effect waves-light green tooltipped" data-position="bottom" data-delay="50" data-tooltip="Desativar Usuário" (click)=openModalAtivar()><i class="material-icons">check_circle</i></a></td>
                <!-- <td *ngIf="p.ativo == 'n'" class="center-align"><a materialize="tooltip" class="btn-floating btn-small waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ativar"><i class="material-icons">block</i></a></td> -->
                <td class="center-align"><a class="btn-floating btn-small waves-effect waves-light green tooltipped" (click)=apagar()><i class="material-icons">delete</i></a></td>
            </tr>
        </tbody>
    </table>

    <!-- Modal lUsuario -->
    <div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActionsUsuario">
        <div class="modal-content">
            <h4>Novo Usuário</h4>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="col s12">
                    <div class="input-field col s12 l6">
                        <select materialize="material_select" [materializeSelectOptions]="selectOptions" id="tipo" class="validate" name="tipo" [ngModel]="editarUsuario.tipo | uppercase">
                            <option value="" disabled selected>Escolha uma opção</option>
                            <option *ngFor="let tipo of tipos | async" [value]="tipo.nome | uppercase">{{tipo.nome | uppercase}}</option>
                    </select>
                        <label for="tipo">Tipo de Usuário</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input type="text" placeholder="Nome Completo" id="nome" class="validate" name="nome" [ngModel]="editarUsuario.nome | uppercase">
                        <label for="nome">Nome Completo</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="email" type="email" placeholder="E-Mail" class="validate" name="email" [ngModel]="editarUsuario.email">
                        <label for="email">E-Mail</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <select materialize="material_select" [materializeSelectOptions]="selectOptions" id="setor" class="validate" name="setor" [ngModel]="editarUsuario.setor">
                            <option value="" disabled selected>Escolha uma opção</option>
                            <option *ngFor="let setor of setores | async" [value]="setor.nome | uppercase">{{setor.nome | uppercase}}</option>
                    </select>
                        <label for="tipo">Setor</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-green btn-flat" (click)="closeModalUsuario()">Close</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <!--Modal Ativar  -->
    <div id="modal2" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActionsAtivar">
        <div class="modal-content">
            <h4>Modal Ativar</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-green btn-flat" (click)="closeModalAtivar()">Close</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
</div>