.notaFiscal {
    max-width: 600px;
}

tbody {
    display: block;
    height: 350px;
    overflow: auto;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead {
    width: calc( 100% - 1em)
}

table {
    width: 100%;
}

.tabletHide {
    @media screen and (max-width: 1000px) {
        display: none !important;
    }
}

.smartHide {
    @media screen and (max-width: 500px) {
        display: none !important;
    }
}