<div class="card-panel">
    <div class="title z-depth-1 white-text">
        <h4>Patrimônios</h4><a class="waves-effect waves-light btn blue right title-btn">Novo</a>
    </div>
    <table class="bordered highlight">
        <thead>
            <tr>
                <th nowrap>ID</th>
                <th nowrap>Tipo</th>
                <th nowrap>nº Patr</th>
                <th nowrap>Descrição</th>
                <th nowrap>Setor</th>
                <th nowrap>Área/Inst</th>
                <th nowrap>nº NF</th>
                <th nowrap>Fornecedor</th>
                <th nowrap>Aquisição</th>
                <th nowrap>Autor</th>
                <th nowrap>Duplicar</th>
                <th nowrap>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer" *ngFor="let p of patrimonios | async" (click)="openModal(p)">
                <td>{{p.$key}}</td>
                <td class="tooltipped" materialize="tooltip" data-position="bottom" data-delay="50" [attr.data-tooltip]="p.tipo | uppercase">{{p.tipo | uppercase | slice:0:3}}</td>
                <td>{{p.numPlacaPatr}}</td>
                <td>{{p.descr | uppercase}}</td>
                <td>{{p.setor | uppercase}}</td>
                <td nowrap>{{p.areainst | uppercase}}</td>
                <td>{{p.numNotaFiscal}}</td>
                <td>{{p.fornecedor | uppercase}}</td>
                <td>{{p.dataAquisicao | date:'dd/MM/y'}}</td>
                <td>{{p.autor | uppercase}}</td>
                <td class="center-align"><a class="btn-floating btn-small waves-effect waves-light blue"><i class="material-icons">control_point_duplicate</i></a></td>
                <td *ngIf="p.ativo == 's'" class="center-align"><a materialize="tooltip" class="btn-floating btn-small waves-effect waves-light green tooltipped" data-position="bottom" data-delay="50" data-tooltip="Desativar"><i class="material-icons">check_circle</i></a></td>
                <td *ngIf="p.ativo == 'n'" class="center-align"><a materialize="tooltip" class="btn-floating btn-small waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ativar"><i class="material-icons">block</i></a></td>
            </tr>
        </tbody>
    </table>

    <!-- Modal Editar -->
    <div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modal">
        <div class="modal-content">
            <h4 *ngIf="patrimonioEdit">{{patrimonioEdit.numPlacaPatr | uppercase}} - {{patrimonioEdit.descr | uppercase | slice:0:10}}</h4>
            <div class="row">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="col s12">
                    <div class="input-field col s12 l6">
                        <select materialize="material_select" [materializeSelectOptions]="selectOptions" id="tipo" class="validate" name="tipo" [ngModel]="patrimonioEdit.tipo | uppercase">
                        <option *ngFor="let tipo of tipos | async" [value]="tipo.nome | uppercase">{{tipo.nome | uppercase}}</option>
                    </select>
                        <label for="tipo">Tipo</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input type="text" placeholder="Patrimônio" id="patrimonio" class="validate" name="patrimonio" [ngModel]="patrimonioEdit.numPlacaPatr">
                        <label for="patrimonio">nº Patr</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="descr" placeholder="Descrição" class="materialize-textarea" name="descr" [ngModel]="patrimonioEdit.descr"></textarea>
                        <label for="descr">Descrição</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <select materialize="material_select" [materializeSelectOptions]="selectOptions" id="setor" class="validate" name="setor" [ngModel]="patrimonioEdit.setor">
                        <option *ngFor="let setor of setores | async" [value]="setor.nome">{{setor.nome}}</option>
                    </select>
                        <label for="tipo">Setor</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <select materialize="material_select" [materializeSelectOptions]="selectOptions" id="areainst" class="validate" name="areainst" [ngModel]="patrimonioEdit.areainst">
                        <option *ngFor="let area of areainst | async" [value]="area.nome">{{area.nome}}</option>
                    </select>
                        <label for="tipo">Área/Inst</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input type="text" placeholder="Nota Fiscal" id="nota" class="validate" name="nota" [ngModel]="patrimonioEdit.numNotaFiscal">
                        <label for="nota">nº NF</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <select materialize="material_select" [materializeSelectOptions]="selectOptions" id="fornecedores" class="validate" name="fornecedor" [ngModel]="patrimonioEdit.fornecedor">
                        <option *ngFor="let forn of fornecedores | async" [value]="forn.nome">{{forn.nome}}</option>
                    </select>
                        <label for="tipo">Fornecedor</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <input type="text" placeholder="Data de Aquisiçao" id="dataAquisicao" class="validate" materialize="pickadate" [materializeActions]="actions" [materializeParams]="[{format: 'dd/mm/yyyy',today: 'Hoje',clear: 'Limpar',closeOnSelect: true}]" name="dataAquisicao"
                            [ngModel]="patrimonioEdit.dataAquisicao">
                        <label for="dataAquisicao">Data de Aquisição</label>
                    </div>
                    <div class="input-field col s12 l6">
                        <select materialize="material_select" [materializeSelectOptions]="selectOptions" id="autores" class="validate" name="autor" [ngModel]="patrimonioEdit.autor">
                        <option *ngFor="let autor of autores | async" [value]="autor.nome">{{autor.nome}}</option>
                    </select>
                        <label for="tipo">Autor</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="obs" placeholder="Observações sobre o item" class="materialize-textarea" name="obs" [ngModel]="patrimonioEdit.obs"></textarea>
                        <label for="obs">Observação</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-green btn blue" (click)="closeModal()">Fechar</a>
            <a class="modal-action modal-close waves-effect waves-green btn blue" (click)="onSubmit(f)">Atualizar</a>
        </div>
    </div>
</div>